<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-sm rounded-0">
                <div class="card-body text-center">
                    <h1 class="card-title">{{profile.name}}</h1>
                    <h3 class="card-title">@{{profile.given_name}}</h3>
                    <table class="table">
                        <tr class="border-0">
                            <td>Family Name</td>
                            <td>{{profile.family_name}}</td>
                        </tr>
                        <tr class="border-0">
                            <td>Email</td>
                            <td>{{profile.email}}</td>
                        </tr>
                        <tr class="border-0">
                            <td>Website</td>
                            <td>{{profile.website}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>